body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}

.container {
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

h1 {
    text-align: center;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

input[type="url"], input[type="number"] {
    width: 100%;
    padding: 12px; /* Increased padding for a more spacious feel */
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
}

button {
    width: 100%;
    padding: 12px; /* Increased padding for a better button appearance */
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}

button:hover {
    background-color: #45a049;
}

/* Styling for alert messages */
#alertMessage {
    text-align: center;
    font-size: 16px;
    margin-top: 20px;
    padding: 10px;
    border-radius: 4px;
    display: none;  /* Initially hidden */
}

/* Success message styling */
#alertMessage.success {
    background-color: #d4edda; /* Light green */
    color: #155724; /* Dark green */
}

/* Error message styling */
#alertMessage.error {
    background-color: #f8d7da; /* Light red */
    color: #721c24; /* Dark red */
}
